{{define "body"}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row">
        <h1 class="page-header">
            Campaigns
        </h1>
    </div>
    <div id="flashes" class="row"></div>
    <div class="row">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-target="#modal"
            onclick="edit('new')">
            <i class="fa fa-plus"></i> New Campaign</button>
    </div>
    &nbsp;

    <ul class="nav nav-tabs" role="tablist">
        <li class="active" role="activeCampaigns"><a href="#activeCampaigns" aria-controls="activeCampaigns" role="tab"
                data-toggle="tab">Active Campaigns</a></li>
        <li role="archivedCampaigns"><a href="#archivedCampaigns" aria-controls="archivedCampaigns" role="tab"
                data-toggle="tab">Archived Campaigns</a></li>
    </ul>
    </br>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="activeCampaigns">
            <div id="flashes" class="row"></div>
            &nbsp;
            <div id="loading">
                <i class="fa fa-spinner fa-spin fa-4x"></i>
            </div>
            <div id="emptyMessage" class="row" style="display:none;">
                <div class="alert alert-info">
                    No campaigns created yet. Let's create one!
                </div>
            </div>
            <div class="row">
                <table id="campaignTable" class="table" style="display:none;">
                    <thead>
                        <tr>
                            <th class="col-md-3">Name</th>
                            <th class="col-md-4">Created Date</th>
                            <th class="col-md-2">Status</th>
                            <th class="col-md-3 no-sort"></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="archivedCampaigns">
            </br>
            <div id="emptyMessage" class="row" style="display:none;">
                </br>
                <div class="alert alert-info">
                    No archived campaigns.
                </div>
            </div>
            <div class="row">
                <table id="campaignTableArchive" class="table" style="display:none;">
                    <thead>
                        <tr>
                            <th class="col-md-3">Name</th>
                            <th class="col-md-4">Created Date</th>
                            <th class="col-md-2">Status</th>
                            <th class="col-md-3 no-sort"></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="dismiss()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="campaignModalLabel">New Campaign</h4>
            </div>
            <div class="modal-body" id="modal_body">
                <div class="row" id="modal.flashes"></div>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" placeholder="Campaign name" autofocus>
                    <label class="control-label" for="template">Email Template:</label>
                    <select class="form-control" placeholder="Template Name" id="template" />
                    <option></option>
                    </select>
                    <label class="control-label" for="page">Landing Page:</label>
                    <select class="form-control" placeholder="Landing Page" id="page" />
                    <option></option>
                    </select>
                    <label class="control-label" for="url">URL:
                        <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="Location of Gophish listener (must be reachable by targets!)"></i>
                    </label>
                    <input type="text" class="form-control" placeholder="http://192.168.1.1" id="url" />
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label" for="url">Launch Date </label>
                            <input type="text" class="form-control" id="launch_date" />
                        </div>
                        <div class="col-md-6">
                            <label class="control-label" for="delay">Send Emails By (Optional)
                                <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="If specified, Gophish will send emails evenly between the campaign launch and this date."></i>
                            </label>
                            <input type="text" class="form-control" id="send_by_date" autocomplete="random-data"/> <!--Chrome ignores autocomplete="off".-->
                        </div>
                    </div>
                    <label class="control-label" for="profile">Sending Profile:</label>
                    <div class="input-group">
                        <select class="form-control" placeholder="Sending Profile" id="profile" />
                        <option></option>
                        </select>
                        <span class="input-group-btn">
                            <button type="button" data-toggle="modal" data-backdrop="static" data-target="#sendTestEmailModal"
                                class="btn btn-primary button">
                                <i class="fa fa-envelope"></i> Send Test Email</button>
                        </span>
                    </div>
                    <label class="control-label" for="users">Groups:</label>
                    <select class="form-control" id="users" multiple="multiple"></select>

                    <hr>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" id="rand-enabled"> Randomize Campaigns
                        </label>
                        <button type="button" id="rand-config-btn" class="btn btn-default btn-xs" style="display:none">Configurar</button>
                    </div>

                    <!-- Randomization Modal -->
                    <div class="modal" id="rand-modal" tabindex="-1" role="dialog" aria-labelledby="randLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                            <h4 class="modal-title" id="randLabel">Config Randomization</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                            <!-- <div class="col-xs-6">
                                <label>Campaign start</label>
                                <input type="text" class="form-control" id="rand-start" placeholder="MMMM Do YYYY, h:mm a">
                            </div>
                            <div class="col-xs-6">
                                <label>End (soft)</label>
                                <input type="text" class="form-control" id="rand-end" placeholder="opcional">
                            </div> -->
                            </div>
                            <br>
                            <div class="row">
                            <div class="col-xs-6">
                                <label>Min Delay (min)</label>
                                <input type="number" class="form-control" id="rand-min" value="1" min="1" max="60">
                            </div>
                            <div class="col-xs-6">
                                <label>Max Delay (max)</label>
                                <input type="number" class="form-control" id="rand-max" value="60" min="1" max="60">
                            </div>
                            </div>
                            <br>
                            <div class="row">
                            <div class="col-xs-6">
                                <label><input type="checkbox" id="rand-weekend"> Exclude weekends</label>
                            </div>
                            <div class="col-xs-6">
                                <label><input type="checkbox" id="rand-holiday" checked> Exclude holidays (PT)</label>
                            </div>
                            </div>
                            <br>
                            <div class="row">
                            <div class="col-xs-6">
                                <label>Timezone</label>
                                <input type="text" class="form-control" id="rand-tz" value="Europe/Lisbon" readonly>
                            </div>
                            <div class="col-xs-6">
                                <label>Max rate/hour (opcional)</label>
                                <input type="number" class="form-control" id="rand-rate" min="1" max="120" placeholder="ex.: 30">
                            </div>
                            </div>
                            <br>
                            <div class="row">
                            <div class="col-xs-12">
                                <label>Seed (opcional)</label>
                                <input type="number" class="form-control" id="rand-seed" placeholder="ex.: 12345">
                            </div>
                            </div>
                            
                            <small>With exclusions active, sending stops on invalid days and resumes at 00:00 the next business day.</small>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" id="rand-cancel">Cancel</button>
                            <button type="button" class="btn btn-primary" id="rand-save">OK</button>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="dismiss()">Close</button>
                <button type="button" id="launchButton" class="btn btn-primary" onclick="launch()">
                    <i class="fa fa-rocket"></i> Launch Campaign</button>
            </div>
        </div>
    </div>
</div>
<!-- Send Test Email Modal -->
<div class="modal" id="sendTestEmailModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- New Email Modal -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="sendTestEmailModalTitle">Send Test Email</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="sendTestEmailModal.flashes"></div>
                <div class="row">
                    <div class="col-sm-12">
                        <label class="control-label" for="to">Send Test Email to:</label>
                    </div>
                    <br>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder="First Name" name="to_first_name">
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder="Last Name" name="to_last_name">
                    </div>
                    <div class="col-sm-4">
                        <input type="email" class="form-control" placeholder="Email" name="to_email" required>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="Position" name="to_position">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                <button type="button" class="btn btn-primary" id="sendTestModalSubmit" onclick="sendTestEmail()">
                    <i class="fa fa-envelope"></i> Send</button>
            </div>
        </div>
    </div>
</div>
{{end}} {{define "scripts"}}
<script src="/js/dist/app/campaigns.min.js"></script>

<script>
/* OVERRIDE DEFINITIVO DO LAUNCH + LOGS */
(function(){
    console.log('[RND] override loaded');

    // util
    function clamp(v,lo,hi){ v=parseInt(v,10); if(isNaN(v)) v=lo; if(v<lo) v=lo; if(v>hi) v=hi; return v; }
    function buildRandomConfig(){
        if (!$('#rand-enabled').length || !$('#rand-enabled').prop('checked')) return null;
        var min  = clamp($('#rand-min').val(), 1, 60);
        var max  = clamp($('#rand-max').val(), min, 60);
        var rate = $('#rand-rate').val()? clamp($('#rand-rate').val(),1,120): null;
        var seed = $('#rand-seed').val()? parseInt($('#rand-seed').val(),10): null;
        return {
        randomize_enabled: true,
        delay_min_minutes: min,
        delay_max_minutes: max,
        exclude_weekends: $('#rand-weekend').prop('checked'),
        exclude_holidays: $('#rand-holiday').prop('checked'),
        timezone: $('#rand-tz').val() || 'Europe/Lisbon',
        smtp_max_per_hour: rate,
        random_seed: seed
        };
    }

    // override global para apanhar o onclick="launch()"
    window.launch = function () {
        console.log('[RND] launch override fired');
        Swal.fire({
        title: "Are you sure?",
        text: "This will schedule the campaign to be launched.",
        type: "question",
        animation: false,
        showCancelButton: true,
        confirmButtonText: "Launch",
        confirmButtonColor: "#428bca",
        reverseButtons: true,
        allowOutsideClick: false,
        showLoaderOnConfirm: true,
        preConfirm: function () {
            return new Promise(function (resolve, reject) {
            var groups = [];
            $("#users").select2("data").forEach(function (g) { groups.push({ name: g.text }); });

            // limpar send_by_date se randomizar
            var randOn = $('#rand-enabled').length && $('#rand-enabled').prop('checked');
            if (randOn) { $("#send_by_date").val(''); }

            var send_by_date = $("#send_by_date").val();
            if (send_by_date) { send_by_date = moment(send_by_date, "MMMM Do YYYY, h:mm a").utc().format(); }

            var payload = {
                name: $("#name").val(),
                template: { name: $("#template").select2("data")[0].text },
                url: $("#url").val(),
                page: { name: $("#page").select2("data")[0].text },
                smtp: { name: $("#profile").select2("data")[0].text },
                launch_date: moment($("#launch_date").val(), "MMMM Do YYYY, h:mm a").utc().format(),
                send_by_date: send_by_date || null,
                groups: groups
            };

            var rc = buildRandomConfig();
            if (rc) payload.random_config = rc;

            console.log('[RND] POST /api/campaigns payload=', payload);

            api.campaigns.post(payload)
                .success(function (data) {
                window.campaign = data;
                resolve();
                })
                .error(function (data) {
                $("#modal\\.flashes").empty().append(
                    '<div style="text-align:center" class="alert alert-danger">' +
                    '<i class="fa fa-exclamation-circle"></i> ' +
                    (data.responseJSON && data.responseJSON.message || 'Error') +
                    '</div>');
                Swal.close();
                });
            });
        }
        }).then(function (result) {
        if (result.value){
            Swal.fire('Campaign Scheduled!','This campaign has been scheduled for launch!','success');
        }
        $('button:contains("OK")').on('click', function () {
            window.location = "/campaigns/" + window.campaign.id.toString();
        });
        });
    };

    // também remove qualquer handler anterior por segurança
    $(function(){
        $('#launchButton').prop('onclick', null).off('click').on('click', window.launch);
    });
})(); 
</script>

<script>
(function(){
  $('#modal').on('shown.bs.modal', function(){
    var cb    = document.getElementById('rand-enabled');
    var $btn  = $('#rand-config-btn');
    var $send = $('#send_by_date');
    if (!cb || $btn.length === 0) return;

    // evita modal aninhado
    $('#rand-modal').appendTo('body');

    function lockSendBy(on){ $send.val(''); $send.prop('disabled', on); }

    // estado inicial
    $btn.toggle(cb.checked);
    lockSendBy(cb.checked);

    // só mostra/esconde botão e bloqueia "Send Emails By"
    cb.onchange = function(){
      $btn.toggle(this.checked);
      lockSendBy(this.checked);
    };

    // abrir config só no clique
    $btn.off('click.rand').on('click.rand', function(){
      $('#rand-modal').modal({backdrop:'static', keyboard:false, show:true});
    });

    // guardar config: construir sempre no momento da submissão
    function clamp(v,lo,hi){ v=parseInt(v,10); if(isNaN(v)) v=lo; if(v<lo) v=lo; if(v>hi) v=hi; return v; }
    window.collectRandomConfig = function(){
    if (!$('#rand-enabled').prop('checked')) return null;
    var min  = clamp($('#rand-min').val(), 1, 60);
    var max  = clamp($('#rand-max').val(), min, 60);
    var rate = $('#rand-rate').val()? clamp($('#rand-rate').val(),1,120): null;
    var seed = $('#rand-seed').val()? parseInt($('#rand-seed').val(),10): null;
    return { random_config: {
        randomize_enabled: true,
        delay_min_minutes: min,
        delay_max_minutes: max,
        exclude_weekends: $('#rand-weekend').prop('checked'),
        exclude_holidays: $('#rand-holiday').prop('checked'),
        timezone: $('#rand-tz').val() || 'Europe/Lisbon',
        smtp_max_per_hour: rate,
        random_seed: seed
    }};
    };
    // só fecha o modal no OK
    $('#rand-save').off('click.rand').on('click.rand', function(){
    $('#rand-modal').modal('hide');
    });

  });
})();
</script>

{{end}}